<% provide(:title, "")%>
<div class="center jumbotron" style="background-color: #f4fef4;">
	<h1>Welcome to Hamburger Here </h1>
	<h2>
		It contains many tools to recover and avoid credit.
		Here some function has been done are
		<a href="#">Open Street Map</a>, 
		<a href="#">IBM Watson</a>

	</h2>
	<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

